<%- include('partials/header') %>


<div class="jumbotron centered comb">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">  Authentication and security</h1>
    <p class="lead">SIGNUP OR REGISTER ! to see how a webpage login function works . full code on github.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Signup</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
