
body {
  background-color: #348dd2;
  /* background-image: url(); */
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #32852c;
  background-color: #000;
}

.comb{
  background-color: #348dd2;
}